In [34]:
import pandas as pd


raw_df = pd.read_csv(
    './Q1_dataset/letter_train', sep=" ", index_col=None, header=None)

In [52]:
# preprocessing
# drop last column which comes from plain text file
df = raw_df.iloc[:,:-1]

# # give names to the columns
col_names = col_names = ['class']+ ['feature_'+str(i) for i in range(16)]
df.columns = col_names

# any null values
print('there are null values' if df.isnull().sum().sum()!=0 else 'no null values found')

#everything is string so remove 1:_ before processing
df.head()

no null values found

,class,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15
0,26,1:-0.733333,2:-0.466667,3:-0.466667,4:-0.6,5:-0.733333,6:-0.0666667,7:0.0666667,8:-0.733333,9:0.2,10:0.466667,11:-0.0666667,12:-0.0666667,13:-0.866667,14:0.0666667,15:-0.333333,16:-0.2
1,16,1:-0.466667,2:-0.0666667,3:-0.333333,4:-0.333333,5:-0.333333,6:-0.333333,7:0.2,8:-0.2,9:-0.466667,10:0.0666667,11:-0.0666667,12:0.2,13:-0.733333,14:0.2,15:-0.0666667,16:0.333333
2,19,1:-0.0666667,2:0.333333,3:0.0666667,4:-0.0666667,5:-0.466667,6:0.0666667,7:0.0666667,8:-0.333333,9:0.333333,10:0.466667,11:-0.733333,12:0.0666667,13:-0.733333,14:-0.333333,15:-0.333333,16:0.333333
3,8,1:-0.466667,2:0.2,3:-0.333333,4:-0.0666667,5:-0.466667,6:-0.0666667,7:-0.0666667,8:0.733333,9:-0.866667,10:-0.0666667,11:-0.2,12:0.0666667,13:-0.6,14:0.0666667,15:-1,16:0.0666667
4,8,1:-0.2,2:-0.0666667,3:0.0666667,4:-0.333333,5:-0.466667,6:-0.0666667,7:-0.2,8:-0.6,9:-0.0666667,10:0.333333,11:-0.0666667,12:0.2,13:-0.6,14:0.0666667,15:-0.6,16:-0.0666667

In [79]:
# zeroth cell
df.iloc[0,1].split(':')[1]

'-0.733333'

In [59]:
,df['feature_0'].describe()

count           15000
unique             16
top       1:-0.466667
freq             3307
Name: feature_0, dtype: object